.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.title-font {
  font-family: 'Patrick Hand', cursive;
}

.header-font {
  font-family: 'Baloo', cursive;
}

.sub-header-font {
  font-family: 'Alef';
}

.muscle-label {
  font-family: 'Fredoka One';
}
